// SCSS VARIABLES


// SCSS MIXINS


// GLOBAL STYLES

html, body {
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: 'Helvetica Neue', 'Roboto', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

#wrapper {
  height: 100%;
}

#main {
  height: 100%;
  display: block;
}

.md-button {
  text-transform: none;
  font-weight: 500;
  .material-icons {
    position: relative;
    top: 6px;
  }
}
